@import "tailwindcss";

@theme {
  --color-main-bg: #000000;
  --color-primary-hover: #b6b09f;
  --color-secondary: #eae4d5;
  --color-primary: #f2f2f2;
}

@utility red-shadow{
    text-shadow: 1px 5px 20px rgba(255, 0, 0, 0.72);
}
